/mendenhall/advance/ex.nc
/mendenhall/forward/outputs/*/ex.nc
/mendenhall/inverse/outputs/*/optimize.nc
/mendenhall/*/outputs/*/optimize.nc
/mendenhall/*/outputs/optimize.nc
/mendenhall/*/outputs/*/*/optimize.nc
/mendenhall/*/*/optimize.nc
/*/*/*/optimize.nc
/igm-2.0/results/slidingco/*/*.nc
/igm-2.0/prototypes/results/*/optimize.nc
